<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/4174c231cf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img height="50" src="/img/logo-mercado-liebre.svg" alt="logo">
           <div id="busqueda">
               <input type="text" placeholder="Buscar productos, marcas">
               <button class="lupa"><i class="fas fa-search"></i></button>
           </div>
       <p class="hand-usd"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
   </div>
   <ul>
       <li><a href="ofertas.html">Ofertas</a></li>
       <li><a href="tienda.html">Tiendas Oficiales</a></li>
       <li><a href="vender.html">Vender</a></li>
       <li><a href="ayuda.html">Ayuda</a></li>
   </ul>

   <ul>
       <li><a href="crear.html">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
       <li><a href="ingresa.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
       <li><a href="compras.html">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
   </ul>

   <button class="burger"><i class="fas fa-bars"></i></button>
   </div>
   </header>
    <main>
        <section>
            <h3 class="titulo1">Basado en tu última visita</h3>
            <article>
                <img height="250" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3 class="descripciones">Cafetera Moulinex</h3>
        
                <img height="250" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h3 class="descripciones">MacBook Pro 2019</h3>
        
                <img height="250" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
        
                <img height="250" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h3 class="descripciones">SmartTv Samsung 43 </h3>
            </article>
        </section>

        <section>
            <h3 class="titulo1">Ofertas</h3>
            <article>
                <img height="250" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% OFF</p>
        <h3 class="descripciones">Cafetera Moulinex</h3>

        <img height="250" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% OFF</p>
        <h3 class="descripciones">MacBook Pro 2019</h3>

        <img height="250" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% OFF</p>
        <h3 class="descripciones">Samsung Galaxy S10</h3>

        <img height="250" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
        <h3 class="descripciones">SmartTv Samsung 43 </h3>

            </article>
        </section>

    </main>

    <footer style="width: 100%;">
        <section class="top-footer">
            <section class="beneficios">
                <div class="icono-beneficios"><i class="footerIcon far fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <div class="icono-beneficios"><i class="footerIcon fas fa-gift"></i></div>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <div class="icono-beneficios"><i class="footerIcon fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </section>
    </footer>
</body>
</html>