footer {
    width: 86%;
    margin: auto;
    background-color: white;
    color: var(--colorGrisOscuro);
    font-size: 0.7rem;
}

.footerIcon {
    font-size: 2em;  
}

.top-footer {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    text-align: center;
}



.icono-beneficios {
    color: var(--colorCeleste)
}

.copyright {
    text-align: left;
}

div.icono-beneficios{
    padding-top: 30px;
}

@media (min-width: 769px) {
    .top-footer {
        flex-direction: unset
    }
}