input {
    border:thin;
    padding-right: 20px;
    
    
}

a {
    color: var(--colorAzul);
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0%;
}

header .hand-usd {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 25px;
}

html,body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: var(--font-roboto);
    background-color: var(--colorGrisClaro);
}
