header {
    background-color: var(--colorAmarillo);
    padding: 25px;
}

header .burger {
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 32px;
    margin: auto;
    padding: 5px;
    width: 50px;
    text-align: center;
}

header ul li {
    font-size: 12px;
}

.menuOculto {
    display: none;
}

.busqueda {
    padding-left: 20px
}


/*TABLET*/

@media (min-width: 460px) {

    .menuOculto{
        display: block;
        
    }

    header .burger {
        display: none;
    }
}

/*DESKTOP*/

@media (min-width: 769px){

}
