.banner{
    width: 100%;
}

img {
    width: 100%;
}

body {
    background-color: var(--colorGrisClaro);
}

#img-banner {
    margin-bottom: 20px;
}

img {
    width: 100%;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: var(--colorGrisOscuro);
}

main section article div {
    position: relative;
}

section {
    width: 86%;
    margin: auto;
}

section article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}



.info-producto {
    background: white;
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 12px;
    margin: auto;
    margin-top: auto;
}


main section article div {
    position: relative;
}

.fa-truck {
    padding: 5px;
    border: solid 1px var(--colorVerde);
    border-radius: 100%;
    color: var(--colorVerde);
    position: absolute;
    right: 20px;
    top: -15px;
}

.descripcion {
    color: var(--colorGrisOscuro);
    opacity: 0;
    margin-top: 15px;

}

.descuentos {
    color: var(--colorVerde);
    position: relative;
    text-align: center;
    top: -18px;
    left: -40px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*TABLET*/

@media (min-width: 460px) {

    .card-product {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    h2 {
        font-size: 2rem;
        padding: 1.5rem 0;
    }
    
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    
    main section article {
        padding: 0px 5px;
        width: 50%;
    }
    
    .info-producto {
        display: block;
    }

    .descuentos {
        left: 25px;
    }

    .descripcion{
        opacity: unset;
    }
}
/*DESKTOP*/

@media (min-width: 769px){

    .product-art {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    main section {
        flex-wrap: nowrap;
    }

    main section article {
        margin-left: 25px;
    }

    .descuentos {
        left: 42px;
        top: -15px;
        font-size: 12px;
    }
}