h3.titulo1 {
    font-size: 24px;
    text-align: center;
    color: var(--colorGrisOscuro);
}

p.precios {
    font-size: 18px;
    margin-top: 3px;
    
}

p.descuentos {
    font-size: 16px;
    color: var(--colorVerde);
    margin-top: -17px;
}

h3.descripciones {
    font-size: 16px;
    color: var(--colorGrisOscuro);
    opacity: 0.6;
    margin-top: 1.5pc;
    display: none;
}

.cuerpo {
    width: 90%;
    margin: auto;
    
}

section article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.art-product {
    
    background: white;
    padding: 0;
    margin: 10px;
    
}

.linea {
    border-top: 1px solid #ebebeb;
    padding: 10px

}

.fa-truck {
    color: var(--colorVerde);
    border-radius: 100%;
    border: solid 1px var(--colorVerde);
    padding: 6px;
    
}

.banner{
    width: 100%;
}

/*TABLET*/

@media (min-width: 460px) {
    h3.descripciones {
        display: block;
    }

    .art-product {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}

/*DESKTOP*/

@media (min-width: 769px){

    .art-product {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

}

